node_red/flows.json
[{"id":"fa704e9882759be1","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"19c0c30a4ea2acb4","type":"mqtt in","z":"fa704e9882759be1","name":"","topic":"motor/sensor/data","qos":"1","datatype":"auto-detect","broker":"8907d6c4e5c6831a","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":340,"wires":[["94849660308542ae","3284140cff37cd3c"]]},{"id":"94849660308542ae","type":"function","z":"fa704e9882759be1","name":"function 1","func":"// This node only handles the Alarm logic\nif (msg.payload.prediction !== 0) { // Assuming 0 is 'Normal'\n    \n    // Get the fault name based on the prediction number\n    const faultNames = ['Normal', 'Imbalance', 'Misalignment', 'Bearing', 'Looseness', 'Overload', 'Overheat'];\n    let errorName = faultNames[msg.payload.prediction] || \"Unknown Fault\";\n    \n    // Create the message\n    msg.payload = \"🚨 MOTOR ALARM: \" + errorName + \" detected! Confidence: \" + (msg.payload.confidence * 100).toFixed(1) + \"%\";\n    msg.topic = \"Motor Fault Alert!\";\n    \n    return msg; // This sends the SMS/Email\n}\n\nreturn null; // This stops the flow if status is 'Normal'","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["8c6eca912e73ee13"]]},{"id":"8c6eca912e73ee13","type":"delay","z":"fa704e9882759be1","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":true,"outputs":1,"x":510,"y":340,"wires":[["32e0a9be41af238e","1d8a3fa1eb6b97a9"]]},{"id":"32e0a9be41af238e","type":"twilio out","z":"fa704e9882759be1","twilio":"","twilioType":"sms","url":"","number":"+1111111111","name":"Twillo SMS warnings","x":740,"y":420,"wires":[]},{"id":"1d8a3fa1eb6b97a9","type":"e-mail","z":"fa704e9882759be1","server":"smtp.gmail.com","port":"465","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"receiveremail@gmail.com","dname":"Mariam's email","x":760,"y":340,"wires":[]},{"id":"3284140cff37cd3c","type":"websocket out","z":"fa704e9882759be1","name":"motor fault detection website","server":"f84f75b3eaff1792","client":"","x":380,"y":420,"wires":[]},{"id":"8907d6c4e5c6831a","type":"mqtt-broker","name":"","broker":"IPaddress","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f84f75b3eaff1792","type":"websocket-listener","path":"/ws/motor","wholemsg":"false"},{"id":"e3771618c492d7f6","type":"global-config","env":[],"modules":{"node-red-node-twilio":"0.1.0","node-red-node-email":"5.0.4"}}]